@{
    ViewBag.Title = "Home Page";
}

<div class="main">
<div class="jumbotron">
    <h2>
        Voordelig een bedrijfswagen
        of auto huren?
    </h2>
    <p> Bij Autobedrijf Roerdinkholder huurt u voor de beste prijs! Al vanaf 25 euro per dag (ex. BTW en brandstof). Diverse merken zoals Mercedes, Volkswagen, Citroen en Peugeot.</p>
    <p><a href="https://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>
</div>
